@import 'tailwindcss';

@layer utilities {
  /*used for white backdrop glow*/
  .shadow-white-glow {
    filter: drop-shadow(0 0 8px rgba(255, 255, 255, 0.7));
  }
  /*used for selected item*/
  .selected-glow {
    background-image: radial-gradient(
      80% 80% at 50% 50%,
      rgba(204, 139, 139, 0.18) 0%,
      rgba(255, 255, 255, 0) 105%
    );
    backdrop-filter: blur(3px);
  }
  /*used for the sidebar background*/
  .glass-glow {
    background-image: linear-gradient(
      108.46deg,
      rgba(255, 255, 255, 0.264) 0%,
      rgba(255, 255, 255, 0.066) 100%
    );
  }
  .overlay-bg {
    background: rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(2px);
  }
  /*used for radial hint background*/
  .radial-hint-bg {
    background: radial-gradient(45% 45% at 50% 50%, #9d9898 0%, rgba(188, 185, 185, 0) 100%);
  }
  /*used for dark sidebar background with glow*/
  .sidebar-dark-glow {
    background-image: linear-gradient(108.46deg, rgba(0, 0, 0, 0.9) 0%, rgba(0, 0, 0, 0.8) 100%);
  }
  /*used for iPad Air margin left adjustment*/
  .ipadair-ml {
    margin-left: 3%;
  }
  @media (min-width: 820px) and (max-width: 1180px) {
    .ipadair-ml {
      margin-left: 3%;
    }
  }
  .ipadpro-ml {
    margin-left: 3%;
  }
  @media (min-width: 1024px) and (max-width: 1535px) {
    .ipadpro-xl-ml {
      padding-left: 15%;
    }
  }
}
/* for the hint page ._. */
html,
body {
  background: url('/src/assets/bg-2-old.png') center center / cover no-repeat fixed !important;
  min-height: 100vh;
}

#root {
  background-color: transparent !important;
  min-height: 100vh;
}

body {
  background-color: transparent !important;
}

.bg-fixed {
  background-attachment: fixed;
}

/* dark background to prevent white flash ._. */
#root {
  background-color: #000000;
  min-height: 100vh;
}

body {
  background-color: #000000;
}

html {
  background-color: #000000;
}
